---
layout: default
title: Blogs
photo: "https://www.orangeandbronze.com/assets/images/fb-careers.png"
nav-title: Blogs
permalink: /blogs
class: blogs
pagination:
  enabled: true
  category: blogs
---
<section class="section-header">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-7">
              <h6 class="xml-tag-like">SOFTWARE ENGINEERING DONE RIGHT</h6>
              <p>Eum zril placerat ex, at magna philosophia qui. Eos ei fugit dissentiunt, mei ad verear feugait reprimique. At usu mutat ancillae. Oblique fabulas ut eam, invenire intellegam duo at. 
                Ad legendos postulant persequeris nam.</p>
            </div>
      </div>
  </div>
</section>
<section class="" style="padding-top: 0.5em">
  <div class="container" style="min-height: 380px">
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-4 py-3">
          <h1>Orange Orchard</h1>
      </div>
      {% for post in paginator.posts %}
      <div class="col-sm-6 col-lg-4 mb-4">
        <article class="blog-post-card rounded"><!-- blog-post-card -->
          <!-- blog-post-card__thumbnail-image: height: 180px -->
          <!-- blog-post-card__title -->
          <!-- blog-post-card__meta -->
          <!-- TODO Fallback to a blank rectangular space -->
          <a href="{{ post.url }}"><img src="{{ post.header-image }}" class="w-100" style="margin-bottom:20px;" alt=""></a>
          <h4 class="title"><a href="{{ post.url }}">{{ post.title | escape | truncatewords: 8 }}</a></h4>
          <p>{{ post.date | date_to_string }}</p>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="container">
    <div class="row py-3">
      <div class="col-6 col-lg-4 feedback-controls">
        {% if paginator.previous_page %}
        <a class="btn-links d-flex" style="text-decoration: none" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <img class="prev mr-2" src="{{ "/assets/images/btn-prev.svg" }}" alt="previous page" />
          <span class="align-self-center">Newer Posts</span>
        </a>
        {% endif %}
      </div>
      {% if paginator.next_page %}
      <div class="col-6 col-lg-4 offset-lg-4 text-right feedback-controls">
        <a class="btn-links d-flex justify-content-end" style="text-decoration: none" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <span class="align-self-center">Older Posts</span>
          <img class="next ml-2" src="{{ "/assets/images/btn-next.svg" }}" alt="next page" />
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>

<!--
<section class="container">
  <div class="row">
    <div class="col">
      <h2>Tags</h2>
      <div class="">
          {% assign tags = site.tags | sort %}
          {% for tag in tags %}
          <span>
              <a href="/tags/{{ tag | first | slugify }}/" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%"> 
                  <i class="fa fa-tag fa-fw"></i>{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
              </a>
          </span>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
-->