---
layout: default
title: Blogs
photo: "https://www.orangeandbronze.com/assets/images/fb-careers.png"
nav-title: Blogs
permalink: /blogs
class: blogs
pagination:
  enabled: true
  category: blogs
---
<section class="section-header">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7">
              <h6>
                  &lt; SOFTWARE ENGINEERING DONE RIGHT /&gt;
              </h6>
              <p>Eum zril placerat ex, at magna philosophia qui. Eos ei fugit dissentiunt, mei ad verear feugait reprimique. At usu mutat ancillae. Oblique fabulas ut eam, invenire intellegam duo at. 
                Ad legendos postulant persequeris nam.</p>
              <p> Sed posuere elit eu diam eleifend, ac fermentum lectus pulvinar. Cras eget posuere ex. Cras rhoncus tincidunt velit ac semper. Aenean eget malesuada dui.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta tempor malesuada. Morbi eleifend ante in metus dignissim, in pretium turpis consequat. Proin et pulvinar orci. Phasellus hendrerit, nisl a blandit convallis</p>
            </div>
          <div class="col-xs-12 col-sm-6">
          </div>
      </div>
  </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Orange Orchard</h1>
            <img src="assets/images/hr.svg" alt="" class="hr">
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog10/"><img src="{{ "assets/images/LDPhoto-blog10.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog10/">[ ARTICLE 10 TITLE: Quisque consectetur at nunc ac blandit. Aenean eu tortor at purus porttitor aliquet eu sit amet libero.  ]</a></H6>
              <p>Ut sagittis augue placerat, aliquam neque semper, dignissim leo. Fusce eros nisl, luctus in ex sit amet, laoreet lobortis libero. Ut id quam convallis, faucibus odio et, ornare orci.</p>
              <h5>DATE POST | 01 FEB 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog9/"><img src="{{ "assets/images/LDPhoto-blog9.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog9/">[ ARTICLE 9 TITLE: Quisque consectetur at nunc ac blandit. Aenean eu tortor at purus porttitor aliquet eu sit amet libero.  ]</a></H6>
              <p>Ut sagittis augue placerat, aliquam neque semper, dignissim leo. Fusce eros nisl, luctus in ex sit amet, laoreet lobortis libero. Ut id quam convallis, faucibus odio et, ornare orci.</p>
              <h5>DATE POST | 01 FEB 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog8/"><img src="{{ "assets/images/LDPhoto-blog8.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog8/">[ ARTICLE 8 TITLE: Aenean eu tortor at purus porttitor aliquet eu sit amet libero. Quisque consectetur at nunc ac blandit. ]</a></H6>
              <p>Ut sagittis augue placerat, aliquam neque semper, dignissim leo. Fusce eros nisl, luctus in ex sit amet, laoreet lobortis libero. Ut id quam convallis, faucibus odio et, ornare orci.</p>
              <h5>DATE POST | 29 JAN 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog7/"><img src="{{ "assets/images/LDPhoto-blog7.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog7/">[ ARTICLE 7 TITLE: Vestibulum vel ante ex. Duis massa quam, placerat sed varius in, varius in ante.  ]</a></H6>
              <p>Pellentesque consequat mauris a rutrum semper. Sed aliquam pretium elementum. Ut sagittis augue placerat, aliquam neque semper, dignissim leo. Fusce eros nisl, luctus in ex sit amet, laoreet lobortis libero. Ut id quam convallis, faucibus odio et, ornare orci.</p>
              <h5>DATE POST | 28 JAN 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog6/"><img src="{{ "assets/images/LDPhoto-blog6.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog6/">[ ARTICLE 6 TITLE: Sed aliquam pretium elementum. Ut sagittis augue ]</a></H6>
              <p>From database and application optimization, Agile transformation, to rescuing trouble projects - O&B has helped organizations overcome software engineering roadblocks.</p>
              <h5>DATE POST | 27 JAN 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog5/"><img src="{{ "assets/images/LDPhoto-blog5.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog5/">[ ARTICLE 5 TITLE: Sed aliquam pretium elementum. Ut sagittis augue ]</a></H6>
              <p>From database and application optimization, Agile transformation, to rescuing trouble projects - O&B has helped organizations overcome software engineering roadblocks.</p>
              <h5>DATE POST | 26 JAN 2021</h5>
            </div>
        </div>
        <div class="col-md-4">
          <div class="border" style="margin-bottom: 30px;"></div>
          <div class="service-card">
              <a href="/blogs/blog4/"><img src="{{ "assets/images/LDPhoto-blog4.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
              <H6><a href="/blogs/blog4/">[ ARTICLE 4 TITLE: Duis interdum imperdiet pharetra. Morbi ultrices ultricies nisi ]</a></H6>
              <p>Training for practitioners, by practitioners.</p>
              <h5>DATE POST | 25 JAN 2021</h5>
          </div>
      </div>
      <div class="col-md-4"> 
        <div class="border" style="margin-bottom: 30px;"></div>
        <div class="service-card">
            <a href="/blogs/blog3/"><img src="{{ "assets/images/LDPhoto-blog3.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
            <H6><a href="/blogs/blog3/">[ ARTICLE 3 TITLE: Morbi eleifend ante in metus dignissim]</a></H6>
            <p>In dico lucilius iracundia sed, vel an ancillae albucius urbanitas. Quo laoreet tibique no.</p>
            <h5>DATE POST | 24 JAN 2021</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="border" style="margin-bottom: 30px;"></div>
        <div class="service-card" style="margin-bottom: 30px;">
            <a href="/blogs/blog2/"><img src="{{ "assets/images/LDPhoto-blog2.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
            <H6><a href="/blogs/blog2/">[ ARTICLE 2 TITLE: Software Development Philippines]</a></H6>
            <p>Complete, self-managing, multi-disciplinary teams for your software requirements.</p>
            <h5>DATE POST | 23 JAN 2021</h5>
        </div>
    </div>
        <div class="col-md-4">
            <div class="border" style="margin-bottom: 30px;"></div>
            <div class="service-card" style="margin-bottom: 30px;">
                <a href="/blogs/first-blog/"><img src="{{ "assets/images/LDPhoto-blog1.png" | relative_url }}" class="w-100" style="margin-bottom:20px;"></a>
                <H6><a href="/blogs/first-blog/">[ ARTICLE 1 TITLE: Lorem ipsum dolor sit amet]</a></H6>
                <p class="content">In dico lucilius iracundia sed, vel an ancillae albucius urbanitas. Quo laoreet tibique no.</p>
                <h5>DATE POST | 22 JAN 2021</h5>  
            </div>
        </div>
<!--        
<section id="blog-post-list" class="" style="padding-top: 0.5em">
  <div class="container">
      <div class="row" style="min-height: 380px">
          {% for post in paginator.posts %}
          <div class="col-sm-6 col-md-6 col-lg-4">
            <a class="job-card" href="{{ post.url }}">
                <h4 class="title">{{ post.title | escape | truncate_words: 10 }}</h4>
                <p>{{ post.date | date_to_string }}</p>
            </a>
          </div>
          {% endfor %}
      </div>
      {% if paginator.total_pages > 1 %}
      <div class="row">
        <div class="col-6 feedback-controls">
          {% if paginator.previous_page %}
          <a class="btn-links" style="text-decoration: none" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><img class="prev" src="{{ "/assets/images/btn-prev.svg" }}" alt="previous page" /> Newer Posts</a>
          {% endif %}
        </div>
        {% if paginator.next_page %}
        <div class="col-6 text-right feedback-controls">
          <a class="btn-links" style="text-decoration: none" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Older Posts <img class="next" src="{{ "/assets/images/btn-next.svg" }}" alt="next page" /></a>
        </div>
        {% endif %}
      </div>
      {% endif %}
  </div>
</section>
-->
<section class="container">
  <div class="row">
    <div class="col">
      <h2>Tags</h2>
      <div class="">
          {% assign tags = site.tags | sort %}
          {% for tag in tags %}
          <span>
              <a href="/tags/{{ tag | first | slugify }}/" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%"> 
                  <i class="fa fa-tag fa-fw"></i>{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
              </a>
          </span>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
