---
layout: default
class: front
permalink: /
---

<!-- This is the site's landing page -->
<section class="section-hero">

    <a class="ico-play video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zWNF2MwoX9M" data-target="#myModal" href="#">
    <img src="{{ "assets/images/btn-play.svg" | relative_url }}" alt="">
  </a>

  <img class="bg1" src="{{ "assets/images/hero-element-bg2.svg" | relative_url }}" alt="">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7">
        <H6>
            &lt; WE ARE THE /&gt;
        </H6>
        <H1>Best Java Developers in the Philippines</H1>
        <a href="#" class="btn -primary video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zWNF2MwoX9M" data-target="#myModal">
          <img src="{{ "assets/images/ico-play.svg" | relative_url }}" class="ico" alt=""> WHAT IS ORANGE & BRONZE?
      </a>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

  <img src="{{ "assets/images/ico-learnmore.svg" | relative_url }}" alt="" class="bg-element" />

</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Our Services</h1>
            </div>
            <div class="col-md-4 se">
                <div class="service-card">
                    <H6>[ CUSTOM SOFTWARE SOLUTIONS ]</H6>
                    <img src="{{ "assets/images/img-custom-software-solution.png" | relative_url }}" class="w-100">
                    <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world</p>
                    <a href="/services/software-solution" class="btn -secondary">
                        <img src="/assets/images/ico-arrow-left.svg" class="ico svg" alt=""> LEARN MORE
                      </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card">
                    <H6>[ STAFF AUGMENTATION ]</H6>
                    <img src="{{ "assets/images/img-staff-augmentation.png" | relative_url }}" class="w-100">
                    <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world</p>
                    <a href="/services/staff-augmentation" class="btn -secondary">
                        <img src="/assets/images/ico-arrow-left.svg" class="ico svg" alt=""> LEARN MORE
                      </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-card">
                    <H6>[ G SUITE ]</H6>
                    <img src="{{ "assets/images/img-gsuite.png" | relative_url }}" class="w-100">
                    <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world</p>
                    <a href="/services/g-suite" class="btn -secondary">
                        <img src="/assets/images/ico-arrow-left.svg" class="ico svg" alt=""> LEARN MORE
                      </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card">
                    <H6>[ TRAINING ]</H6>
                    <img src="{{ "assets/images/img-training-services.png" | relative_url }}" class="w-100">
                    <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world</p>
                    <a href="/services/training" class="btn -secondary">
                        <img src="/assets/images/ico-arrow-left.svg" class="ico svg" alt=""> LEARN MORE
                      </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-card">
                    <H6>[ SERVICE ADVISORY ]</H6>
                    <img src="{{ "assets/images/img-advisory-services.png" | relative_url }}" class="w-100">
                    <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world</p>
                    <a href="/services/advisory" class="btn -secondary">
                        <img src="/assets/images/ico-arrow-left.svg" class="ico svg" alt=""> LEARN MORE
                      </a>
                </div>
            </div>
        </div>
      </div>
</section>

<!-- <section class="section-about1">
  <img class="bg1" src="{{ "assets/images/feature1-full.svg" | relative_url }}" alt="" />
  <div class="container">
    <div class="row">
      <div class="d-lg-none col-lg-1 d-xl-block"></div>
      <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
        <img class="img-fluid" src="{{ "assets/images/feature1.png" | relative_url }}" alt="Java Software Development and Sprint Framework Logo" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
          <H6>[ CUSTOM SOFTWARE SOLUTIONS ]</H6>
          <H3>Customized Solutions using Java and Spring Framework</H3>
          <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
          <p>Orange & Bronze Software Labs has architected and developed huge mission-critical systems using the Spring Framework, many handling millions of daily transactions for multibillion-dollar companies all over the world </p>
          <p>We have also built creative new products for ambitious startups, nimbly keeping up with their rapid changes in requirements.</p>
          <a href="/services/software-solution" class="btn -secondary">
            <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt="" /> LEARN MORE
          </a>
      </div>
    </div>
  </div>
</section>
<section class="section-about2">
    <div class="container">
        <div class="row">
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
                <H6>[ Staff Augmentation ]</H6>
                <H3>The right team at the right price.</H3>
                <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" / >
                <p>If you want to create mission-critical systems, take your products to market quickly, and maintain a clean code base, then you need great developers.</p>
                <p>Complement your existing development team with O&B trained developers. Besides expanding your team, you also get the benefit of mentoring and coaching where we transfer engineering best practices to your team.</p>
                <a href="/services/staff-augmentation" class="btn -secondary">
                    <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt=""> LEARN MORE
                </a>
            </div>
            <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
                <img class="img-fluid" src="{{ "assets/images/feature2.png" | relative_url }}" alt="Collaborating and outsourcing developers globally" />
            </div>
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
        </div>
    </div>
</section>
<section class="section-about3">
    <div class="container">
        <div class="row">
            <div class="d-lg-none col-lg-1 d-xl-block"></div>
            <div class="d-none d-sm-none d-md-block col-md-4 col-lg-6 col-xl-5">
                <img class="img-fluid" src="{{ "assets/images/feature3.png" | relative_url }}" alt="G Suite App Icons by Google Cloud" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-5 section-minititle">
                <H6>[ G SUITE ]</H6>
                <H3>Intuitive tools to take your business to the next level</H3>
                <img src="{{ "assets/images/hr.svg" | relative_url }}" alt="" class="hr" />
                <p>Orange and Bronze is a Google Cloud partner and Philippine reseller for G Suite by Google Cloud (formerly Google Apps).</p>
                <p>We provide local technical support and can help you install your G Suite account - so you don't have to worry about the hassles of managing this IT solution yourself.</p>
                <a href="/services/g-suite" class="btn -secondary">
                    <img src="{{ "assets/images/ico-arrow-left.svg" | relative_url }}" class="ico svg" alt=""> LEARN MORE
                </a>
            </div>
        </div>
    </div>
</section> -->

<section class="section-portfolio">

  <img class="bg1" src="{{ "assets/images/portfolio-bg.svg" | relative_url }}" alt="" />

  <img class="bg2" src="{{ "assets/images/hero-element-bg2.svg" | relative_url }}" alt="" />

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-title">
          <H6>
             &lt; CLIENTS WHO BELIEVE US /&gt;
          </H6>
          <H2>Our Success Stories</H2>
          <img class="bg" src="{{ "assets/images/title-success.png" | relative_url }}" alt="" />
        </div>
      </div>
    </div>

    <div class="row auto-960">

      <div class="col mt60">
        <img class="bg-element" src="{{ "assets/images/front-element.svg" | relative_url }}" alt="">
        <div class="portfolio-controls">
          <a id="btn-prev" href="#" class="btn-links">
            <img class="prev" src="{{ "assets/images/btn-prev.svg" | relative_url }}" alt="" />
          </a>
          <a id="btn-next" href="#" class="btn-links">
            <img class="next" src="{{ "assets/images/btn-next.svg" | relative_url }}" alt="" />
          </a>
        </div>
        <div class="portfolio-slider">

          {% for work in site.categories.works %}
            <div class="portfolio-card">
              <div class="portfolio-body">
                <div class="portfolio-image">
                  <img src="{{ work.image | relative_url }}" alt="" class="img-fluid image" />
                </div>
                <div class="portfolio-content">
                  <div class="tags-list">

                    {% for service in work.services_rendered %}

                      <span class="tags">{{ service }}</span>

                    {% endfor %}

                  </div>
                  <H3 class="title">{{ work.title }}</H3>
                  <div class="content">
                    <p>{{ work.description}}</p>
                  </div>
                  <a href="{{ work.url }}" class="btn -secondary">
                    <img src="{{ "assets/images/ico-bookmark.svg" | relative_url }}" class="ico svg" alt="" /> Read Case Study
                  </a>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-university">
    <img class="bg1" src="{{ "assets/images/university-element-bg.svg" | relative_url }}" alt="" />
    <img class="bg2" src="{{ "assets/images/university-element-bg2.svg" | relative_url }}" alt="" />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <H6>
                         &lt; BOOTCAMPS & TRAININGS /&gt;
                    </H6>
                    <H2>O&B University</H2>
                    <img class="bg" src="{{ "assets/images/title-software.png" | relative_url }}" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-lg-none d-xl-block col-xl-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <div class="university-card">
                    <img src="{{ "assets/images/pic-calen.png" | relative_url }}" alt="Calen Legaspi">
                    <div class="topic-card -university">
                        <div class="topic-ico -university">
                            <img src="{{ "assets/images/ico-db.svg" | relative_url }}" alt="" class="ico">
                        </div>
                        <div class="topic-content">
                            <H5 class="subtitle">AN INDUSTRY LEADER</H5>
                            <H4 class="tile">Java Developer Bootcamp</H4>
                            <p class="content">
                                Build web applications and have a good grasp of the requirements and environment for enterprise systems development.
                            </p>
                            <a href="" class="btn -secondary">See Curriculum</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <div class="university-card">
                    <img src="{{ "assets/images/pic-lorenzo.png" | relative_url }}" alt="Lorenzo Dee">
                    <div class="topic-card -university">
                        <div class="topic-ico -university">
                            <img src="{{ "assets/images/ico-zap.svg" | relative_url }}" alt="" class="ico">
                        </div>
                        <div class="topic-content">
                            <H5 class="subtitle">AN INDUSTRY LEADER</H5>
                            <H4 class="tile">Agile Bootcamp</H4>
                            <p class="content">
                                Explore the deficiencies and faulty assumptions behind traditional software development approaches to adopt a more appropriate set of principles and values.
                            </p>
                            <a href="" class="btn -secondary">See Curriculum</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="d-lg-none d-xl-block col-xl-1"></div>
        </div>
    </div>
</section>

<section class="section-more">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="other-courses-panel">
                    <h6>WE ALSO OFFER OTHER BOOTCAMPS & TRAININGS LIKE</h6>
                    <ul class="course-list">
                        <li>
                            Enterprise Architect Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Enterprise Design Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Java Spring Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            Spring Developer Bootcamp
                        </li>
                        <li>
                            Agile Manager & Business Analyst Bootcamp
                            <div class="circle"></div>
                        </li>
                        <li>
                            <a href="#">Or Customize Your Own</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="#" class="btn -primary mt20">
                    <img src="{{ "assets/images/ico-enter.svg" | relative_url }}" class="ico" alt=""> VISIT O&B UNIVERSITY
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-clients">

    <!-- <div class="bg-element">

                <svg width="376px" height="445px" viewBox="0 0 376 445" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <linearGradient x1="-13.0070881%" y1="36.8013293%" x2="91.5867956%" y2="45.158543%" id="linearGradient-1">
                            <stop stop-color="#FFD13D" offset="0%"></stop>
                            <stop stop-color="#FF962C" offset="100%"></stop>
                        </linearGradient>
                    </defs>
                    <g id="1-Index" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="1.0.0-Index" transform="translate(-1064.000000, -4206.000000)" fill="url(#linearGradient-1)">
                            <g id="Group-25" transform="translate(797.000000, 4206.000000)">
                                <path d="M489.5,0 L1319.28125,0 L1319.28125,445 L489.5,445 C366.616643,445 267,345.383357 267,222.5 L267,222.5 C267,99.6166432 366.616643,2.25733064e-14 489.5,0 Z" id="Rectangle-8"></path>
                            </g>
                        </g>
                    </g>
                </svg>

    </div> -->

    <div class="bg-element2">
        <img src="{{ "assets/images/laptop.png " | relative_url }}" alt="">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
            <div class="title">
                <H6>
                     &lt; Companies we've worked with /&gt;
                </H6>
                <H2>Our Clients</H2>
            </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row mt20">

            <div class="col-xl-1"></div>
            <div class="col-12 col-md-8">
                <div class="client-box-list">
                    <a href="https://www.globe.com.ph/" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-globe.jpg " | relative_url }}" alt="Globe logo" />
                    </a>
                    <a href="https://www.ibm.com/ph-en/" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-ibm.jpg " | relative_url }}" alt="IBM logo" />
                    </a>
                    <a href="https://www.cisco.com/c/en_ph/index.html" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-cisco.jpg " | relative_url }}" alt="Cisco logo" />
                    </a>
                    <a href="https://smart.com.ph/corporate" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-smart.jpg " | relative_url }}" alt="Smart logo" />
                    </a>
                    <a href="https://www.accenture.com/ph-en/new-applied-now" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-accenture.jpg " | relative_url }}" alt="Accenture logo" />
                    </a>
                    <a href="https://www.philippineairlines.com/en/ph/home" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-pal.jpg " | relative_url }}" alt="Philippine Airlines logo" />
                    </a>
                    <a href="http://www.samsung.com/ph/" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-samsung.jpg " | relative_url }}" alt="Samsung logo" />
                    </a>
                    <a href="http://www8.hp.com/ph/en/home.html" target="_blank" class="client-box">
                        <img class="img-fluid" src="{{ "assets/images/client-hp.jpg " | relative_url }}" alt="HP logo" />
                    </a>
                </div>
                <a href="#" class="btn -primary mt30 video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/zWNF2MwoX9M" data-target="#myModal">
                    <img src="{{ "assets/images/ico-play.svg " | relative_url }}" class="ico" alt="" /> What our clients have to say
                </a>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
</section>
