<div class="content" id="content4">
  <H3>Connecting Local Developers</H3>
  <p>
      O&B supports local developer communities by organizing meet-ups, participating as resource speakers for conferences, and sponsoring tech events. We have partnered and worked with various developer groups, including the Philippine Java Users Group, Google Technology Users Group, Spring Users Group, DevCon, Ubuntu Users Group and Philippine Groovy/Grails Users Group.
  </p>
  <H3>Industry & Government Partnerships</H3>
  <p>
      O&B bridges the industry-academe gap by partnering with industry and government associations. Through our partnership with the Philippine Software Industry Association (PSIA) and the Philippine Society of Information Technology Educators (PSITE), we provide free training and enablement workshops to empower IT educators. The goal of these training courses is to develop a core community of educators who can better prepare their students for the requirements of the industry.
  </p>
  <H3>Academe Partnership</H3>
  <p>
      O&B has consistently supported Philippine universities in educating students about industry best practices in an effort to uplift the standards of Computer Science education. Our experts are among the most active industry resources for career seminars and technology talks.
  </p>
  <p>
      Our activities with the country's academic community include the O&B Internship Program, the Faculty Immersion Program, and a scholarship program. 
  </p>
  <!-- <div class="community-card">
      <div class="image">

      </div>
      <div class="content">
          <h6>University Community</h6>
          <p>
              O&B has consistently supported Philippine universities in educating students about industry best practices in an effort to uplift the standards of Computer Science education. Our experts are among the most active industry resources for career seminars and technology talks.
          </p>
      </div>
  </div> -->
</div>