.client-box-list {
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(sm) {
    justify-content: center;
  }
  .img-fluid{
    margin: 0 auto;
    height: 100% !important;
  }
  .slick-slide{
    margin: 10px;
  }
}
